<main class="container pt-5 pb-2">
  <div class="d-flex flex-row bd-highlight mb-3">
    <div class="bd-highlight flex-fill">Infinity</div>
    <div class="bd-highlight flex-fill text-right">
      <img src="../../assets/icon/logo.svg" alt="logo" width="60px" />
    </div>
  </div>
  <div class="notification-card rounded px-2 py-1 mb-4">
    <div class="notify-bell">
      <ion-icon name="notifications-outline"></ion-icon>
    </div>
    <div class="notify-header">
      <h4>Notification</h4>
    </div>
    <div
      class="py-1 d-flex flex-row bd-highlight border-bottom notify-info-one mt-1"
    >
      <div class="px-1 bd-highlight flex-fill">
        <ion-icon name="alert-circle-outline"></ion-icon>
      </div>
      <div class="px-1 bd-highlight flex-fill text-truncate">
        STEP 1 - Complete Ability Tests Below
      </div>
      <div class="px-1 bd-highlight flex-fill notify-info-more-icon text-right">
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </div>
    </div>
    <div
      class="py-1 d-flex flex-row bd-highlight border-bottom notify-info-two"
    >
      <div class="px-1 bd-highlight flex-fill">
        <ion-icon name="scan-outline"></ion-icon>
      </div>
      <div class="px-1 bd-highlight flex-fill text-truncate">
        STEP 2 - Upload a Profile Picture
      </div>
      <div class="px-1 bd-highlight flex-fill notify-info-more-icon text-right">
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </div>
    </div>
    <div
      class="py-1 d-flex flex-row bd-highlight border-bottom notify-info-three"
    >
      <div class="px-1 bd-highlight flex-fill">
        <ion-icon name="at-outline"></ion-icon>
      </div>
      <div class="px-1 bd-highlight flex-fill text-truncate">
        STEP 3 - Create a handle
      </div>
      <div class="px-1 bd-highlight flex-fill notify-info-more-icon text-right">
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </div>
    </div>
    <div
      class="py-1 d-flex flex-row bd-highlight border-bottom notify-info-four"
    >
      <div class="px-1 bd-highlight flex-fill">
        <ion-icon name="shield-outline"></ion-icon>
      </div>
      <div class="px-1 bd-highlight flex-fill text-truncate">
        STEP 4 - Learn about KYC
      </div>
      <div class="px-1 bd-highlight flex-fill notify-info-more-icon text-right">
        <ion-icon name="arrow-forward-circle-outline"></ion-icon>
      </div>
    </div>
    <div>
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </div>
  </div>
  <div class="activity-card rounded mb-3 py-2 px-2">
    <div class="activity-card-vs">
      <span>VS.</span>
    </div>
    <div class="activity-card-rt">
      <span><i>RT+</i></span>
    </div>
    <div class="d-flex flex-row bd-highlight pt-3">
      <div class="px-1 bd-highlight">
        <div class="img-box"></div>
      </div>
      <div class="px-1 bd-highlight flex-fill">
        <h6 class="mt-0">Leroy Jenkins</h6>
        <div class="progress">
          <div
            class="progress-bar"
            role="progressbar"
            style="width: 85%"
            aria-valuenow="85"
            aria-valuemin="0"
            aria-valuemax="100"
          ></div>
        </div>
        <div class="d-flex flex-row bd-highlight mb-1">
          <div class="px-1 bd-highlight flex-fill text-left">
            <span>Level 24</span>
          </div>
          <div class="px-1 bd-highlight flex-fill text-right">
            <span>1923/2300</span>
          </div>
        </div>
        <div class="d-flex flex-row bd-highlight align-items-center">
          <div class="px-1 bd-highlight flex-fill">
            <span><i class="fas fa-ellipsis-h"></i></span>
            <p class="m-0">statistics</p>
          </div>
          <div class="px-1 bd-highlight flex-fill">
            <button type="button" class="rounded-pill button-no-bg">
              Match Players
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="activity-card rounded mb-3 py-2 px-2 align-items-center">
    <div class="d-flex flex-row bd-highlight">
      <div class="px-1 bd-highlight flex-fill">
        <h6 class="mt-0">Complete Abilities: Tennis</h6>
        <p class="m-0">Update Infinity with your skillset</p>
      </div>
      <div class="px-1 bd-highlight flex-fill notify-info-more-icon text-right">
        <a routerLink="/user-dashboard/sport-info">
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="activity-card rounded mb-3 py-2 px-2 align-items-center">
    <div class="d-flex flex-row bd-highlight">
      <div class="px-1 bd-highlight flex-fill">
        <h6 class="mt-0">Complete Abilities: Golf</h6>
        <p class="m-0">Update Infinity with your skillset</p>
      </div>
      <div class="px-1 bd-highlight flex-fill notify-info-more-icon text-right">
        <a routerLink="/user-dashboard/sport-info">
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="activity-card rounded py-2 px-2 align-items-center">
    <div class="d-flex flex-row bd-highlight">
      <div class="px-1 bd-highlight flex-fill">
        <h6 class="mt-0">Football Abilities</h6>
        <p class="m-0">Completed - Keep Infinity up-to-date frequently</p>
      </div>
      <div class="px-1 bd-highlight flex-fill notify-info-more-icon text-right">
        <a routerLink="/user-dashboard/sport-info">
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="mb-2 py-2 px-2 align-items-center">
    <div class="d-flex flex-row bd-highlight">
      <ion-icon name="add-circle-outline" class="mr-1"></ion-icon>
      <span>Add Sports </span>
    </div>
  </div>
  <div class="mb-2 px-2 align-items-center">
    <div class="d-flex flex-row bd-highlight">
      <div class="bd-highlight"></div>
      <div class="bd-highlight flex-fill">
        <h6 class="mt-0">Infinity Alerts</h6>
      </div>
      <div class="bd-highlight text-right">
        <ion-toggle
          slot="end"
          style="
            --background-checked: #626282 !important;
            border: 2px solid #fff;
            border-radius: 20px;
          "
        ></ion-toggle>
      </div>
    </div>
  </div>
  <div class="mb-2 px-2 align-items-center">
    <div class="d-flex flex-row bd-highlight">
      <div class="bd-highlight"></div>
      <div class="bd-highlight flex-fill">
        <h6 class="mb-0 mt-0">Floating Icon</h6>
        <span>Click and hold to move</span>
      </div>
      <div class="bd-highlight text-right">
        <ion-toggle
          slot="end"
          [checked]="true"
          style="
            --background-checked: #626282 !important;
            border: 2px solid #fff;
            border-radius: 20px;
          "
        ></ion-toggle>
      </div>
    </div>
  </div>
  <div class="mb-2 px-2 align-items-center">
    <div class="d-flex flex-row bd-highlight">
      <div class="bd-highlight"></div>
      <div class="bd-highlight flex-fill">
        <h6 class="mb-0 mt-0">Stealth Mode</h6>
        <span>Hides the Infinity Icon (opacity drops to 50%) </span>
      </div>
      <div class="bd-highlight text-right">
        <ion-toggle
          slot="end"
          style="
            --background-checked: #626282 !important;
            border: 2px solid #fff;
            border-radius: 20px;
          "
        ></ion-toggle>
      </div>
    </div>
  </div>
  <div class="mb-1 py-2 px-2 align-items-center">
    <a routerLink="/user-dashboard/feeds">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </a>
  </div>
</main>
