.card-text {
  font-size: 12px;
}
.purple {
  background-color: rgb(138, 26, 138);
  color: #fff;
  padding: 6px;
  border-radius: 2px;
  font-size: 8px;
}
.bg-danger {
  padding: 6px;
  border-radius: 2px;
  font-size: 8px;
}
.orange {
  background-color: orange;
  color: #fff;
  padding: 6px;
  border-radius: 2px;
  font-size: 8px;
}
h6 {
  font-weight: 600;
  font-size: 16px;
}
.activity-card {
  height: 100px;
  width: 100%;
  background-color: rgb(202, 202, 202);
  border-radius: 4px;
}
.bg-success {
  padding: 6px;
  border-radius: 2px;
  font-size: 8px;
}
.bg-secondary {
  padding: 6px;
  border-radius: 2px;
  font-size: 8px;
}
