<main>
  <div class="row m-0">
    <div class="col-6">
      <div class="card border-0">
        <div class="activity-card"></div>
        <div class="card-body p-0">
          <h6>Get Rect!</h6>
          <p class="card-text m-0">
            Do you have what it take to be at the top?
          </p>
          <small class="mr-2 purple">VERSES</small>
          <small class="bg-danger text-white">ARENA</small>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card border-0">
        <div class="activity-card"></div>
        <div class="card-body p-0">
          <h6>Top of the League!</h6>
          <p class="card-text m-0">Sign up for the Summer 23 league</p>
          <small class="mr-2 orange">LEAGUE</small>
          <small class="bg-danger text-white">ARENA</small>
        </div>
      </div>
    </div>
    <div class="col-12 mt-3">
      <div class="card border-0">
        <div class="activity-card"></div>
        <div class="card-body p-0">
          <h6>Top of the League!</h6>
          <p class="card-text m-0">Sign up for the Summer 23 league</p>
          <span class="bg-success mr-2 text-white">FOOD</span>
          <small class="mr-2 purple">NUTRITION</small>
          <small class="bg-secondary text-white">ARENA</small>
        </div>
      </div>
    </div>
    <div class="col-12 mt-3">
      <div class="card border-0">
        <div class="activity-card"></div>
        <div class="card-body p-0">
          <h6>Top of the League!</h6>
          <p class="card-text m-0">Sign up for the Summer 23 league</p>
          <small class="mr-2 orange">LEAGUE</small>
          <small class="bg-danger text-white">ARENA</small>
        </div>
      </div>
    </div>
  </div>
</main>
