// home.page.scss
@import "swiper/scss";
@import "@ionic/angular/css/ionic-swiper";

.slide {
  text-align: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #fff;
  img {
    width: 80px;
    object-fit: contain;
  }
  .hero-section {
    // min-height: 60vh;
    // padding-top: 30px;
    small {
      color: gray;
      font-weight: 400;
    }
    a {
      color: #000;
      font-weight: 600;
    }
  }
  form {
    overflow-y: auto;
    overflow-x: hidden;
    height: 60vh;
    &::-webkit-scrollbar {
      width: 5px;
      height: 8px;
      background-color: #fff !important;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #606060 !important;
    }
  }
}

span {
  font-size: 14px;
}

.swiper {
  height: 100%;
}

.swiper .swiper-slide img {
  width: 80px;
  object-fit: contain;
}
.swiper-slide {
  display: block;
}

.swiper-pagination-bullet-active {
  background: rebeccapurple !important;
}

.blue-bg {
  background-color: #edf7e4;
  width: 100%;
}

.health-section {
  height: 88.5vh;
  h3 {
    font-weight: 800;
  }
  .embed-responsive-item {
    width: 100%;
  }

  .bg-none {
    background: none;
  }

  .coach-section {
    height: 100px;
  }
}
