<ion-content fullscreen class="slide p-0 py-2" scroll-y="false">
  <swiper
    [autoplay]="true"
    [keyboard]="true"
    [pagination]="true"
    [scrollbar]="true"
    [zoom]="true"
    (swiper)="setSwiperInstance($event)"
  >
    <ng-template swiperSlide>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="hero-section">
            <img
              src="../../assets/icon/undraw_junior_soccer_6sop.svg"
              alt="sport"
              class="mb-5"
            />

            <div class="row m-0 align-items-center" style="height: 60vh">
              <form class="text-left col-12" style="height: unset">
                <div class="form-group col-12">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="UserName"
                  />
                </div>
                <div class="form-group col-12">
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                  />
                </div>
              </form>
            </div>
            <div class="text-center pt-2">
              <ion-button class="block" color="dark" (click)="nextSlide()">
                Next
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
    <ng-template swiperSlide>
      <ion-grid>
        <ion-row>
          <ion-col size="12" class="hero-section">
            <div class="mb-2 pt-4">
              <img
                src="../../assets/icon/undraw_junior_soccer_6sop.svg"
                alt="sport"
              />
              <p>let's get you set up</p>
            </div>
            <form class="text-left px-2">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="UserName"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Full Name"
                />
              </div>
              <div class="form-group">
                <input type="email" class="form-control" placeholder="email" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Mobile" />
              </div>
              <div class="form-row">
                <div class="form-group col-6">
                  <input type="text" class="form-control" placeholder="Age" />
                </div>
                <div class="form-group col-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Gender"
                  />
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Height"
                  />
                </div>
                <div class="form-group col-6">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Weight"
                  />
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Country" />
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="City" />
              </div>
            </form>
            <div class="text-center pt-2">
              <ion-button class="block" color="dark" (click)="nextSlide()">
                Next
              </ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-template>
    <ng-template swiperSlide>
      <div
        class="d-flex flex-column bd-highlight mb-3 health-section justify-content-between px-2"
      >
        <div class="p-2 bd-highlight align-self-start text-left">
          <h3>Apple Health</h3>
          <p>
            keep track of all your fitness data by syncing rectime with Apple
            Health
          </p>
        </div>

        <div class="p-2 bd-highlight align-self-end">
          <p class="text-left">
            this information will flow both ways, Infinity will display all
            third party activities synced with AH
          </p>
          <div class="text-center pt-2">
            <ion-button class="block" color="dark" (click)="nextSlide()">
              Allow
            </ion-button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div
        class="d-flex flex-column bd-highlight mb-3 health-section justify-content-between px-2"
      >
        <div class="p-2 bd-highlight align-self-start text-left">
          <h3>Meet Infinity</h3>
          <p>
            Infinity allows a customised experience exploring the rectime
            universe
          </p>
        </div>

        <div class="p-2 bd-highlight align-self-center text-center">
          <h4 class="text-secondary">[ANIMATED BACKDROP]</h4>
        </div>

        <div class="p-2 bd-highlight align-self-end">
          <p class="text-left">
            to enjoy our services please allow rectime to utilise your workout &
            behavioral information
            <br />
            <small>MORE INFO</small>
          </p>

          <div class="text-center pt-4">
            <ion-button class="block" color="dark" (click)="nextSlide()">
              Allow
            </ion-button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div
        class="d-flex flex-column bd-highlight mb-3 health-section justify-content-between px-2"
      >
        <div class="p-2 bd-highlight align-self-start text-left">
          <h3>Animation</h3>
          <p>
            simple video showing a detailed explanation of the problem + our
            solution and how the app flows
          </p>
        </div>

        <div class="p-2 bd-highlight align-self-center text-center">
          <iframe
            class="embed-responsive-item"
            src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
            allowfullscreen
          ></iframe>
        </div>

        <div class="p-2 bd-highlight align-self-end">
          <p class="text-left">
            to enjoy our services please allow rectime to utilise your workout &
            behavioral information
            <br />
            <small>MORE INFO</small>
          </p>

          <div class="text-center pt-4">
            <ion-button class="block" color="dark" (click)="nextSlide()">
              Next
            </ion-button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div
        class="d-flex flex-column bd-highlight mb-3 health-section justify-content-between px-2"
      >
        <div class="p-2 bd-highlight align-self-start text-left">
          <h3>Sports</h3>
          <p>select the sports you want infinity to focus</p>
        </div>

        <div class="p-2 bd-highlight align-self-center text-center">
          <div class="d-flex bd-highlight flex-wrap">
            <div
              class="p-2 bd-highlight"
              *ngFor="let tons of availableSports; let ati = index"
            >
              <button
                (click)="toggleSelectedAvailableSports(ati)"
                type="button"
                class="text-nowrap btn"
                [ngClass]="availableSports[ati].selected ? 'button-dark' : 'button-border'"
              >
                {{ tons.text }}
              </button>
            </div>
          </div>
        </div>

        <div class="p-2 bd-highlight align-self-end">
          <p class="text-left">
            something missing? as the community grows, so will the
            sports/activities we cover
          </p>

          <div class="text-center pt-2">
            <ion-button class="block" color="dark" (click)="nextSlide()">
              Next
            </ion-button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div
        class="d-flex flex-column bd-highlight mb-3 health-section justify-content-between px-2"
      >
        <div class="p-2 bd-highlight align-self-start text-left">
          <h3>Playercard</h3>
          <p>the sports you selected will feature on your playercard</p>
        </div>

        <div class="p-2 px-3 bd-highlight align-self-center text-center">
          <img
            src="../../assets/icon/undraw_basketball_re_7701.svg"
            alt="basketball"
            width="60px"
          />
        </div>

        <div class="p-2 px-3 bd-highlight align-self-end">
          <p class="text-left">
            this helps infinity connect you with the perfect opponent or partner
          </p>

          <div class="text-center pt-4">
            <ion-button class="block" color="dark" (click)="nextSlide()">
              Next
            </ion-button>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div
        class="d-flex flex-column bd-highlight mb-3 health-section justify-content-between blue-bg"
      >
        <div class="px-4 py-2 bd-highlight align-self-start text-left bg-white">
          <h3>All Set!</h3>
          <p>before matchmaking the coach will need a little more info</p>
        </div>

        <div class="px-4 py-2 bd-highlight align-self-start text-left">
          <div class="d-flex flex-column bd-highlight justify-content-between">
            <div class="bd-highlight coach-section"></div>
            <div class="bd-highlight">
              <img
                src="../../assets/icon/undraw_nature_m5ll.svg"
                alt="wheel"
                width="30px"
              />
              <p class="font-weight-bold">IMAGE OF A COACH TAB</p>
            </div>
          </div>
        </div>

        <div class="px-3 pt-4 pb-2 bd-highlight align-self-end bg-white">
          <p class="text-left">
            head over to the coach tab on the home screen for a full
            walk-through
          </p>

          <div class="text-center">
            <ion-button class="block" color="dark" type="submit">
              Done
            </ion-button>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</ion-content>
