<ion-app>
  <div class="ion-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="hero-section">
          <img src="../../assets/icon/logo.png" alt="sport" class="mb-5" />
          <form class="text-left">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="UserName" />
            </div>
            <div class="form-group m-0">
              <input
                type="password"
                class="form-control"
                placeholder="Password"
              />
            </div>
            <div class="form-group text-right">
              <small>password <a [routerLink]="['#']">trouble?</a></small>
            </div>
          </form>
        </ion-col>
        <ion-col size="12" class="button-container">
          <p>Login With <strong>Google</strong> or <strong>Apple ID</strong></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-app>
