ul {
  display: flex;
  height: 10vh;
  background-color: #101d2d;
  width: 100%;
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  align-items: center;
  position: relative;
  li {
    list-style: none;
    width: 20%;
    text-align: center;
    ion-icon {
      color: rgb(255, 255, 255);
      font-weight: 600px;
      font-size: 26px;
    }
  }
  .logo {
    border: 3px solid #fff;
    border-radius: 50%;
    padding: 14px 10px;
    position: absolute;
    left: 40%;
    top: -20px;
    background-color: #101d2d;
  }
}
.active {
  color: #fff !important;
}
