<ul class="m-0 p-0 px-2">
  <li class="nav-items" routerLinkActive="active">
    <a routerLink="/feeds">
      <ion-icon name="link-outline"></ion-icon>
    </a>
  </li>
  <li class="nav-items" routerLinkActive="active">
    <a routerLink="/#">
      <ion-icon name="fitness-outline"></ion-icon>
    </a>
  </li>
  <li class="nav-items"></li>
  <li class="logo">
    <img src="../../assets/icon/logo.png" alt="logo" width="40px" />
  </li>
  <li class="nav-items">
    <a routerLink="/#" routerLinkActive="active">
      <ion-icon name="layers-outline"></ion-icon>
    </a>
  </li>
  <li class="nav-items">
    <a routerLink="/#" routerLinkActive="active">
      <ion-icon name="person-circle-outline"></ion-icon>
    </a>
  </li>
</ul>
