<ion-header>
  <ion-toolbar>
    <div class="row m-0 align-items-center">
      <div class="col-8"><p class="m-0">Hello, Leroy Jenkins</p></div>
      <div class="col-4 text-right">
        <span class="p-1 text-white bg-dark rounded-pill mr-2"><i>RT+</i></span>
        <img src="../../assets/icon/logo.svg" alt="logo" width="20px" />
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <main>
    <div class="hero">
      <ion-router-outlet></ion-router-outlet>
    </div>

    <app-sidebar></app-sidebar>
  </main>
</ion-content>
