.ion-padding {
  text-align: center;
  background-color: #122132 !important;
  color: #fff;
  height: 100vh;
  img {
    width: 100px;
    object-fit: contain;
  }
  .hero-section {
    height: 60vh;
    padding-top: 30px;
  }
  .button-container {
    padding-top: 60px;
    height: 20vh;
    .block {
      background-color: #213241;
      color: #fff;
    }
    .button-sky {
      background-color: #59b6e1;
      color: #fff;
    }
  }
}

.button-native {
  text-transform: capitalize !important;
}

span {
  font-size: 14px;
}
